.centered-text-main {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
.centered-text-heading-one {
  /* color: rgb(162, 142, 116); */
}
.centered-text-heading-two {
}
.centered-text-heading-three {
}
